---
import { Image } from "astro:assets";

export type Props = {
  size?: string;
  src: string;
};

const { size = "large", src } = Astro.props as Props;
let avatarSize: number;

switch (size) {
  case "x-small":
    avatarSize = 40;
    break;
  case "small":
    avatarSize = 52;
    break;
  case "medium":
    avatarSize = 77;
    break;
  case "x-large":
    avatarSize = 180;
    break;
  case "large":
  default:
    avatarSize = 120;
    break;
}
---

<span class="avatar" style={`height: ${avatarSize}px; width: ${avatarSize}px;`}>
  <Image alt="" src={src} height={avatarSize} width={avatarSize} />
</span>

<style lang="scss">
  $background: var(--background);

  .avatar {
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    position: relative;

    // Adding here, otherwise in Safari the `ImageWithPlaceholder.img.transition`
    // transition a square image for 0.5 seconds into a circle.
    img {
      border-radius: 50%;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
</style>
