---
import { Image } from "astro:assets";
import { getAuthorData } from "../lib/author";
import getDateFormatted from "../lib/date";
import Avatar from "./Avatar.astro";

const { data, slug } = Astro.props.post;
const subtitleTrimmed = data.subtitle.split(" ").slice(0, 20).join(" ").trimEnd();
const authorProfile = getAuthorData(data.author);
---

<a href={`/post/${slug}`} class="group cursor-pointer no-underline" title={data.title}>
  <div
    class="flex h-full w-full flex-col overflow-hidden rounded-xl bg-clr-content-background shadow-[0_1.25rem_1.875rem_rgba(0,0,0,0.15)]"
  >
    <div class="relative h-40 overflow-hidden">
      <Image
        class="h-full w-full object-cover"
        alt={data.title}
        src={import(`../images/posts/featured/${data.featuredImage.replace(".jpg", "")}.jpg`)}
        height={160}
        width={680}
      />
      <div class="pointer-events-none absolute inset-0 hidden bg-black/40 transition dark:block">
      </div>
    </div>
    <div
      class="flex flex-1 flex-col px-[var(--size-padding-large)] pb-[var(--size-padding-x-large)] pt-6"
    >
      <span class="text-xs">
        <span class="font-header font-bold uppercase">{data.category}</span>
        {" - "}
        <span>{getDateFormatted(data.date.toString())}</span>
      </span>
      <h2
        class="font-header my-[var(--size-margin-x-small)] mb-[var(--size-margin-small)] text-[1.375rem] font-bold leading-[var(--line-height-header)] text-clr-link group-hover:underline"
      >
        {data.title}
      </h2>
      <p
        class="mb-[var(--size-margin-small)] flex-1 border-b border-clr-background pb-[var(--size-padding-x-large)] text-sm leading-[var(--line-height-text)] text-clr-text"
      >
        {subtitleTrimmed}...
      </p>
      <div class="flex gap-[var(--size-margin-x-small)]">
        <Avatar size="x-small" src={authorProfile.profilePicture} />
        <div>
          <div class="text-sm leading-[var(--line-height-text)] font-bold text-clr-header">
            {authorProfile.name}
          </div>
          <div class="text-xs leading-[var(--line-height-text)] text-clr-text">
            {authorProfile.role}
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
